{% extends "layout.html" %}

{% set active_page = "index" %}


{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>How Did I Spend the Busiest Week?</h1>
            <p>This is the visual narrative of a mobile dataset collected using
                the <a href="http://www.awareframework.com/">aware
                    framework</a>
                to answer the question "how did I spend the Busiest Week".
            </p>
        </div>
    </div>

    <div class="container">
        <h2>Intro</h2>

        <p>
            The
        </p>
    </div>


{% endblock %}
